<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Modules Marketplace{% endblock %}</title>

    {% block head %}  {% endblock %}

    {% block module_stylesheets %}
    {% endblock %}
</head>
<body>

{% block header %}
{% endblock %}


{% block body %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block module_javascripts %}
{% endblock %}
</body>
</html>