<form id="searchForm" class="form form-inline" role="form" enctype="application/x-www-form-urlencoded" method="POST" action="/interface/modules/custom_modules/oe-module-marketplace/public/">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" name="searchTerm" value="{{ searchTerm }}" class="form-control" aria-label="Search terms" aria-describedby="button-search">
            <button class="btn btn-outline-primary" type="submit" value="Search" id="button-search">Search</button>
        </div>
    </div>
</form>

